body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the content takes at least the full height of the viewport. */
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}

section {
  flex: 1; /* This ensures that the section takes up the remaining vertical space. */
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.2em;
  width: 100%;
}
